<div class="row">
    <div class="col-lg-12">
        <form name="createNewNote" role="form" novalidate ng-submit="submit(createNewNote)">
            <div class="form-group">
                <label for="title">{{'CREATE_NEW_NOTE_TITLE' | translate}}</label>
                <input type="text" id="title" name="title" class="form-control" ng-model="model.title" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
                <div ng-messages="createNewNote.title.$error" ng-if="createNewNote.$submitted || !createNewNote.title.$pristine">
                    <div ng-message="required">{{'CREATE_NEW_NOTE_TITLE_IS_REQUIRED' | translate}}</div>
                    <div ng-message="maxlength" ng-if="!createNewNote.title.$pristine">{{'CREATE_NEW_NOTE_TITLE_MAX' | translate:'{ max: 255 }'}}</div>
                </div>
            </div>
            <div class="form-group">
                <label for="content">{{'CREATE_NEW_NOTE_CONTENT' | translate}}</label>
                <input type="text" id="content" name="content" class="form-control" ng-model="model.content" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
                <div ng-messages="createNewNote.content.$error" ng-if="createNewNote.$submitted || !createNewNote.content.$pristine">
                    <div ng-message="required">{{'CREATE_NEW_NOTE_CONTENT_IS_REQUIRED' | translate}}</div>
                    <div ng-message="maxlength" ng-if="!createNewNote.content.$pristine">{{'CREATE_NEW_NOTE_CONTENT_MAX' | translate:'{ max: 255 }'}}</div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">
                {{'CREATE_NEW_NOTE_SUBMIT' | translate}}
            </button>
        </form>
    </div>
</div>
<div class="row" ng-show="errorCode">
    <div class="col-lg-12">
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="{{'ALERT_CLOSE' | translate}}">
                <span aria-hidden="true">&times;</span>
            </button>
            {{errorCode}}
        </div>
    </div>
</div>